<div class="employee-card-container">
  <div class="employee-profile-img-con">
    <div class="employee-profile-img"></div>
  </div>
  <div class="employee-details">
    <div class="employee-name">Mani Abraham S</div>
    <div class="employee-role">Senior Graphic Designer</div>
    <div class="employee-department">Marketing</div>
    <div class="active-sts">
      <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 3 3" fill="none">
        <circle cx="1.5" cy="1.5" r="1.5" fill="#30B53D"/>
      </svg>
      {{value}}
    </div>
  </div>
  <div class="contact-con">
    <div class="email">Email: mani@pmtool.com</div>
    <div class="number">Phone: +91 967 707 1933</div>
  </div>
</div>
