.task-card-container{
  width: 350px;
  background-color: #FFF;
  padding: 20px;
  border-radius: 0.57363rem;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.10);
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%,-50%);
}
.assigned-t-con{

}
.task-heading{
  font-size: 0.7rem;
  font-weight: 600;
}
.assigned-task{
  font-size: 0.65rem;
  font-weight: 400;
  color: #6B6B6B;
}
.task-due-priority-con{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 0.5rem;
}
select{
  font-size: 0.65rem;
}
.date{
  font-size: 0.65rem;
  background-color: #E8E8E8;
  border-radius: 1.0625rem;
  padding: 4px 8px;
  color: #6B6B6B;
  margin-top: 5px;
}
.high-btn{
  font-size: 0.65rem;
  font-weight: 400;
  color: #E75300;
  border-radius: 1.0625rem;
  background-color: #FFE5E5;
  padding: 4px 10px;
  margin-top: 5px;
}
.created-by-con{
  margin-top: 0.5rem;
}
.created-by{
  font-size: 0.7rem;
  font-weight: 400;
  color: #6B6B6B;
}
.task-brief-con{
  margin-top: 0.5rem;
}
.task-brief{
  font-size: 0.64rem;
  font-weight: 400;
  color: #6B6B6B;
  margin-top: 5px;
}
