.announcement-card-con{
  width: 300px;
  height: 160px;
  background-color: #EAEAEA;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.btn{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
}
.btn button{
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 0.7rem;
  font-weight: 400;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.announce-date-con{

}
.announce-date{
  font-size: 0.8rem;
  font-weight: 400;
}
.announce-heading-con{
  margin-top: 0.5rem;
}
.announce-heading{
  font-size: 1rem;
  font-weight: 600;
  color: #005E93;
}
.announce-content-con{
  margin-top: 0.5rem;
}
.announce-content{
  font-size: 0.6rem;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 15px;
}
