<div class="announcement-card-con">
  <div class="announce-date-con">
    <span class="announce-date">23 Oct 2023</span>
  </div>
  <div class="announce-heading-con">
    <span class="announce-heading">Ayudha Pooja Wishes</span>
  </div>
  <div class="announce-content-con">
    <span class="announce-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum arcu sem,
      nec finibus magna faucibus ut. Fusce erat diam, consequat id pharetra ac, hendrerit sit amet mi. Integer dui ex,
    </span>
  </div>
</div>
