.total-container{
  height: 100vh;
  width: 92%;
  display: flex;
}
.body-container{
  width: 100%;
  padding-left: 25px;
}
.employee-top-con{
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.employee-top-con svg{
  margin-right: 8px;
}
.employee-text{
  font-size: 1.4rem;
  font-weight: 500;
}
table{
  margin-top: 1.5rem;
  width: 100%;
  border-collapse: collapse;
}
th{
  font-size: 0.9rem;
  font-weight: 600;
  color: #005E93;
  padding: 10px;
  background-color: #C9ECFF;
  border: none;
  text-align: left;
}
td{
  font-size: 0.8rem;
  font-weight: 400;
  color: #6B6B6B;
  padding: 10px;
  border-bottom: 0.5px solid #6B6B6B;
}
.active-sts{
  font-size: 0.8rem;
  font-weight: 400;
  color: #FFF;
  background-color: #30B53D;
  padding: 4px 8px;
  border-radius: 3px;
  width: 85px;
  text-align: center;
}
.reason{
  font-size: 0.65rem;
  font-weight: 400;
  color: #6B6B6B;
  margin-top: 3px;
}
.not-active-sts{
  font-size: 0.8rem;
  font-weight: 400;
  color: #FFF;
  background-color: #E75300;
  padding: 4px 8px;
  border-radius: 3px;
  width: 85px;
  text-align: center;
}
.btn-con{
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.load-more-btn{
  font-size: 0.8rem;
  font-weight: 600;
  color: #FFF;
  background-color: #005E93;
  border-radius: 2px;
  border: none;
  display: block;
  height: 30px;
  width: 85px;
  cursor: pointer;
  transform: translateX(-4rem);
}


