<div class="total-container">
  <app-manager-sidebar></app-manager-sidebar>
  <app-sidebar-icons></app-sidebar-icons>
  <app-date-time-field></app-date-time-field>
  <div class="body-container">
    <div class="project-sts-con">
      <span class="project-sts-txt">Project Status</span>
    </div>
    <div class="project-card-container">
      <app-projectstatus-card></app-projectstatus-card>
      <app-projectstatus-card></app-projectstatus-card>
      <app-projectstatus-card></app-projectstatus-card>
      <app-projectstatus-card></app-projectstatus-card>
      <app-projectstatus-card></app-projectstatus-card>
      <app-projectstatus-card></app-projectstatus-card>
    </div>
  </div>
</div>
