.total-container{
  display: flex;
  width: 100%;
}
.body-container{
  padding-left: 3.5rem;
  width: 65%;
}
.new-task-con{
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.new-task-text{
  font-size: 1.15rem;
  font-weight: 500;
  color: #000;
}
.text-area-con{
  margin-top: 1rem;
}
.text-area{

}
.name-edit-con{
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.t-top-name{
  font-size: 0.8rem;
  font-weight: 400;
}
.star{
  font-size: 0.9rem;
  font-weight: 400;
  color: #ff0000;
}
.input-text-area{
  height: 170px;
  width: 100%;
  resize: none;
  margin-top: 5px;
  font-size: 0.79rem;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 15px;
}
.input-text-area:focus{
  outline: 0.3px solid #000;
}
.date-priority{
  display: flex;
  gap: 8rem;
  align-items: center
}
.sub-date-con{
  margin-top: 0.5rem;
}
.sub-date{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.sub-date-text{
  font-size: 0.8rem;
  font-weight: 400;
  width: 75px;
}
.input-date{
  font-size: 0.8rem;
  font-weight: 400;
  height: 28px;
  padding-left: 10px;
}
.priority-con{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.priority-text{
  font-size: 0.8rem;
  font-weight: 400;
}
select{
  font-size: 0.7rem;
  padding: 3px;
  background-color: #E8E8E8;
  border: none;
}
select:focus{
  outline: none;
}
option{
  padding: 5px;
  color: #6B6B6B;
}
.high-option{

}
.attach-con{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 0.5rem;
}
.attach-text{
  font-size: 0.8rem;
  font-weight: 400;
  width: 75px;
}
.input-file{

}
.file-upload {
  display: inline-block;
  position: relative;
}

.file-input::file-selector-button{
  display: none;
}
.file-input{
  font-size: 0.7rem;
  position: absolute;
}
.file-upload-label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C9ECFF;
  color: #005E93;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  width: 80px;
  height: 30px;
  font-size: 0.8rem;
  font-weight: 400;
}

.icon {
  margin-right: 3px;
}
.btn-con{
  margin-top: 2rem;
}
.save-btn{
  font-size: 0.85rem;
  font-weight: 600;
  color: #FFF;
  background-color: #005E93;
  display: block;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.task-con{
  margin-top: 1rem;
}
.input-task{
  font-size: 0.79rem;
  font-weight: 400;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  margin-top: 3px;
}
.input-task:focus{
  outline: 0.3px solid #000;
}

