<div class="full-page">
  <div class="img-con">
    <div class="img"></div>
  </div>
  <div class="half-container">
    <div class="align-con">
      <div class="heading-text-con">
        <span class="heading-text-b">Employee</span>
        <span class="heading-text">Space</span>
      </div>
      <form [formGroup]="loginForm">
        <div class="login-container">
          <div class="login-text">Login</div>
          <div class="text-field">
            <input class="input-text" type="text" placeholder="Email Id" [formControl]="loginForm.get('email_id')">
            <p class="alert-text" *ngIf="loginForm.get('email_id').hasError('required') && loginForm.get('email_id').touched">This field is required</p>
          </div>
          <div class="text-field">
            <input class="input-text" type="password" placeholder="Password" [formControl]="loginForm.get('password')">
            <p class="alert-text" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">This field is required</p>
          </div>
          <button class="login-btn" (click)="doLogin()">Login</button>
          <div class="forgot-pass-con">
            <a class="forgot-pass" href="">Forgot password?</a>
          </div>
        </div>
      </form>
      <div class="bottom-con">
        <span class="bottom-text">© Sky Solutions 2023</span>
      </div>
    </div>
  </div>
</div>


