<div class="full-page">
  <div class="img-con">
    <div class="img"></div>
  </div>
  <div class="half-container">
    <div class="align-con">
      <div class="heading-text-con">
        <span class="heading-text-b">Employee</span>
        <span class="heading-text">Space</span>
      </div>
      <div class="login-container">
        <div class="login-text">Login</div>
        <div class="text-field">
          <input class="input-text" type="text" placeholder="Email Id">
        </div>
        <div class="text-field">
          <input class="input-text" type="password" placeholder="Password">
        </div>
        <button class="login-btn" (click)="doLogin()">Login</button>
        <div class="forgot-pass-con">
          <a class="forgot-pass" href="">Forgot password?</a>
        </div>
      </div>
      <div class="bottom-con">
        <span class="bottom-text">© Sky Solutions 2023</span>
      </div>
    </div>
  </div>
</div>


